@import "~bootstrap/dist/css/bootstrap.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
body {
  font-family: sans-serif;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 50px;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.image__upload-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.image__upload-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.image__upload-button {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  line-height: 2em;
}

.image__file-name {
  padding: 0px 10px;
  font-size: 15px;
  font-style: italic;
}